body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

.red {
    background-color: Yellow;
    color: red
}

I, U {
    color: Green;
}

P B {
    color: blue
}

#id1 {
    color: Maroon;
}

input{
    border-radius: 122pt;
    padding-block: 6pt;
    padding-inline: 10pt;
}

#Label1{

}